@tailwind base;
@tailwind components;
@tailwind utilities;

.class_cp{
    background-color: #9ca3af !important;
}
.class_au{
    background-color: #000000 !important;
    color:white !important;
   
}
.class_as{
    background-color: #a855f7 !important;
   
}
.class_co{
    background-color: #f97316 !important;
   
}
.class_oc{
    background-color: #ec4899 !important;
   
}
.class_rec{
    background-color: #ef4444 !important;
   
}
.class_ca{
    background-color: #ef4444 !important;
   
}
.class_re{
    background-color: #06b6d4 !important;
   
}
.class_su{
    background-color: #8bce26 !important;
   
}
.provedor_new {
    background-color: #edff9f !important; /* Amarillo claro */
}

.provedor_accepted {
    background-color: #a8e6a1 !important; /* Verde claro */
}

.provedor_canceled {
    background-color: #ffb3b3 !important; /* Rojo suave */
}

/* Establecer la animación de movimiento de la bolita */
